= render partial: 'layouts/error_messages', locals: { resource: @event}

= form_for @event do |f|
  %p
    = f.label :event_name
    = f.text_field :event_name
  %p
    = f.label :information
    = f.text_area :information_details
  %p
    = f.label :location_name
    = f.text_field :location_name
  %p
    = f.label :where
    = f.text_field :where
  %p
    = f.label :when
    = f.text_field :scheduled_at
  %p
    = f.submit
